#homepage-title {
    background-color:darkred;
    color: white;
    font-family: sans-serif verdana 'Times New Roman';
    text-align: center;
}

.recipes-ul {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
    padding-left: 3%;
}

a {
    text-decoration: none;
}